body{
    margin: 0px;
    background-color: #283333;
}
.toolbox{
    height: 100vh;
    position: absolute;
    background-color: #3a4b4b;
    width: 50px;
}
.toolbox .group{
    border-bottom: thin solid gray;
}
.toolbox .group .item{
    width: 24px;
    height: 24px;
    margin: 10px;
}
.toolbox .group .item:hover{
    background-color: #4b6161;
    cursor: pointer;
}
.toolbox .group .item img{
    width: 100%;
    filter: invert();
}
.toolbox .group.linewidths .item{
    position: relative;
}
.toolbox .group.linewidths .linewidth{
    position: absolute;
    background-color: white;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.toolbox.left{
    left: 0px;
    top: 0px;
}
.toolbox.right{
    right: 0px;
    top: 0px;
}
#canvas{
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    transform: translate(-50%, -50%);
}